body {
  background-color: #eef1ff;
  font-family: "Inter", serif;
}

img {
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: 3px solid #222;
  border-radius: 3px;
  justify-content: center;
  margin-top: 70px;
}

#content img {
  display: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#paragraphs p {
  display: none;
}

p {
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
}
